#advice-view h3{
  font-size:14px;
}

@media (min-width: 768px) {
  #advice-view h3{
    font-size:24px;
  }
} 



.advice-nutrition-chart-label-protein{
  text-align: center;
  color:#0589d1;
}

.advice-nutrition-chart-label-carbs{
  text-align: center;
  color:#f16601;
}

.advice-nutrition-chart-label-fat{
  text-align: center;
  color:#b55002;
}

#advice-view .btn {
  border: solid 1px #0488d0;
  padding: 10px 20px;
  color: #0488d0;
  margin-top: 20px;
  margin-bottom: 120px;
  font-size: 23px;
  display: inline-block;
  text-transform:uppercase;
}


.advice-training-txt{
  text-align: center;
  margin-top: 28px;
}

.advice-training-teaser-img{
  max-width: 300px;
  margin: 0 auto;
}

.advice-training-programme-img{
  margin:0 auto;
}

@media (min-width: 768px) {
  .advice-training-txt{
    text-align: left;
  }
  .advice-training-teaser-img{
    max-width: 100%;
  }
  .advice-training-programme-img{
    margin:0 0;
  }
} 


