#advice-view h3{
  font-size:14px;
}

#advice-view h3.content {
  text-align:left;
}

@media (min-width: 768px) {
  #advice-view h3{
    font-size:20px;
  }
} 

#advice-view .frames-above {
  padding-top:0px;
}

#advice-view .instruction{
  padding-top: 40px;
}

#advice-view .frames-context-above-inner{
  padding:0 0 0;
}

@media (min-width: 768px) {
  #advice-view .frames-context-above-inner{
    padding:50px 0 0;
  }
} 


.advice-nutrition-chart-label-protein{
  text-align: center;
  color:#0589d1;
}
.advice-nutrition-chart-label-carbs{
  text-align: center;
  color:#f16601;
}
.advice-nutrition-chart-label-fat{
  text-align: center;
  color:#b55002;
}

@media (min-width: 768px) {
  .advice-nutrition-chart-label-protein{
    font-size:20px;
  }
  .advice-nutrition-chart-label-carbs{
    font-size:20px;
  }
  .advice-nutrition-chart-label-fat{
    font-size:20px;
  }
}


#advice-view .btn {
  border: solid 1px #0488d0;
  padding: 12px 20px 10px;
  color: #0488d0;
  margin-top: 30px;
  font-size: 23px;
  display: inline-block;
  text-transform: uppercase;
}


.advice-training-txt{
  text-align: center;
  margin-top: 28px;
}

.advice-training-teaser-img{
  max-width: 300px;
  margin: 0 auto;
}

.advice-training-programme-img{
  margin:0 auto;
}

@media (min-width: 768px) {
  .advice-training-txt{
    text-align: left;
  }
  .advice-training-teaser-img{
    max-width: 1;
  }
  .advice-training-programme-img{
    margin:0 0;
  }
} 

.advice-nutrition-note{
  padding-top:40px;
}

.advice-training-programme-div{
  padding-top: 100px;
  padding-bottom:100px;
}

@media (min-width: 768px) {
  .advice-training-programme-div{
    padding-top: 0;
    padding-bottom:140px;
  }
} 


