

.advice-nutrition-chart-label-protein{
  text-align: center;
  color:#0589d1;
}

.advice-nutrition-chart-label-carbs{
  text-align: center;
  color:#f16601;
}

.advice-nutrition-chart-label-fat{
  text-align: center;
  color:#b55002;
}