.skrollable{
  position: fixed !important;
  width: 100%;
}
.frames-wrapper {
  position:relative;
  width:100%;
}

.frames-below{
  position:relative;
  width:100%; 
}

.frame {
  width: 100%;
  display: block;  
}

.frame-link{
  font-size: 14px;
  text-transform: uppercase;
  color: #041720;
  opacity: 0.4;
  font-weight: normal;
  display: inline-block;
  font-family: 'FFDINWebBold';
}

.frame-link.active, .frame-link.active:hover{
  opacity: 1;
}

.frame-link:hover{
  opacity: 0.6;
}

.frame-nav.list-inline li{
  border-right: solid 1px rgba(5,24,33,0.6);
}

.frame-nav.list-inline li:last-child{
  border-right: none;
}

@media (min-width: 768px) {
  .skrollable{
    padding-right: 100px;
  }
  .frames-context-above-inner,
  .frames-context-below-inner {
      padding: 30px 0;
  }
  .frame-link{
    font-size: 20px;
  }
}
