
#intro-view{
  color:white;
  background: url("../img/sam_hero.jpg") no-repeat center top; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#intro-view h1 {
    border-top: 2px solid;
    display: inline-block;
    font-size: 6em;
    margin-top: 33%;
    padding-top: 0;
}
#intro-view p.content {
  font-size:1.8em;
  font-weight: bold;
}