



#intro-view{
  color:white;
  background: url("../img/sam_hero.jpg") no-repeat 20% top; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (min-width: 1200px) {
  #intro-view {
    background: url("../img/sam_hero.jpg") no-repeat center top; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}


#intro-view .container{
  margin-left:10px;
}


@media (min-width: 768px) {
  #intro-view h1 {
    border-top: 1px solid;
    display: inline-block;
    margin-top: 40%;
    margin-bottom: 0;
    padding-top: 0;
  }
}


#intro-view h1 {
    margin-top: 10%;
}





#intro-view h2 {
  font-family: 'Tungsten A', 'Tungsten B', Arial, sans-serif;
  font-size: 40px;
  margin-top: 0;
  padding-top: 0;
  font-weight: 700;
  line-height: 20px;
}


#intro-view .stat {
  border-top: 1px solid;
  margin-top: 120px;
  padding-top: 10px;
  line-height: 19px;
}

.cyclingNZ-img{ 
  display:inline-block;
  vertical-align: top;
  padding-top: 5px;
  width:86px;
}


.intro-footer{
  position:absolute;
  bottom:5%;
}


@media (min-width: 768px) {
  .intro-footer{
    bottom:10%;
  }
}


