/* general styles ******************************************************************************************/


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
a:focus {
  outline: none;
}
a:focus,
a:hover{
  text-decoration:none;
}

.list-inline {
  font-size: 0;
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
  .list-inline > li {
    display: inline-block;
    font-size: 16px;
    padding: 0;    
    margin-left:0;
  }
  
.align-center{
  text-align:center;
}


aside {
    background: none repeat scroll 0 0 white;
    bottom: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100px;
    z-index: 999;
}
.main {
    margin-right: 100px;
}
.next-chapter {
    bottom: 20px;
    left: 50%;
    position: fixed;
    z-index: 999;
}
.fill-screen {
    padding: 50px;
    width:100%;
}

#intro-view{
  background:#cccccc;
}
#tactics-view{
  background:#333333;
}
.frame {
  height:600px;
  position:absolute;
}
.el {
  width: 300px;
  height: 200px;
  display: block;
  margin: 0 auto 50px;
  
  background: red;
  
  position:absolute;
}

.el2{
  background:yellow;
}
.el3{
  background:green;
}