/* 
    Document   : content
    Created on : 11/11/2014, 5:05:29 PM
    Author     : timo
    Description:
        Purpose of the stylesheet follows.
*/



aside {
  display:none;
  background: none repeat scroll 0 0 #051721;
  bottom: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height:100%;
  z-index: 999;
  padding:0 8px 8px;
  color:#fff;
  font-family: 'Tungsten A', 'Tungsten B', Arial, sans-serif; 
  font-weight: normal; 
  font-style: normal;      
  font-size:18px;
  line-height:30px;      
  letter-spacing:1px;
}
aside.open{
  display:block;
}
aside a {
color:#787878;
}
aside .logo {
width:100%;
height:80px;
margin-top: 55px;
margin-bottom: 22px;
margin-left: 16px;
}
aside li {
display:block;
}
aside a,       
aside a:focus{       
color:#787878;
border-top:1px solid #787878;
}
aside a{
 text-transform:uppercase;
 display:block;
} 
aside li a{ 
 width:100%;
 padding:0 0 10px;    
}
aside .active a,
aside .share a.active,
aside .share a:hover,
aside a:hover{
border-top:1px solid #fff;
color:#fff;    
}
aside li#nav-win > a {
  background: none repeat scroll 0 0 #0589d1;
  font-family: 'FFDINWeb', Arial, sans-serif;
  font-size: 15px;
  color: #fff;
  padding: 10px 8px 8px 14px;
  border-top: 0;      
}
aside li#nav-win.active a,
aside li#nav-win a:hover{
  background: none repeat scroll 0 0 #0474b3;
}

aside .share a{      
  color:#787878;
  border-top:1px solid #787878;      
  display:block;
}
aside li#nav-win {
    margin: 0 -10px;
}

.icon-bar {
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
    background-color: #051721;
}
.chapter-start .icon-bar {
    background-color: #fff;
}
.icon-bar + .icon-bar {
    margin-top: 4px;
} 

.navbar-toggle {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;    
    margin-bottom: 8px;
    margin-right: 8px;
    margin-top: 8px;
    padding: 9px 10px;
    position: fixed;
    right: 0;
    display:block;    
}
aside .navbar-toggle {
  
}
.navbar-toggle.collapsed {

}
@media (min-width: 768px) {
  aside {
      display:block;
      width:100px;
  }
  aside li a{    
    padding:0 0 40px;    
  }  
  aside li#nav-win {
      bottom: 140px;
      position: fixed;
      right: 0;
      margin:0;
  }  
  aside li#nav-win > a {
      width: 120px;
  }  
  aside .share{
    bottom: 40px;
    right: 0;            
    position: fixed;
    width:100px;        
    padding: 8px;
  }  
  .navbar-toggle {
      display:none;
  }  
  
}