/* 
    Document   : prep
    Created on : 28/01/2015, 8:59:42 AM
    Author     : timo
    Description:
        Purpose of the stylesheet follows.
*/



/* Preparation specific */

#prep-view {
  padding-top:100px;
}



@media (min-width: 768px) {
  .prep-video {
    padding:30px;
  }
}

.prep-video p{
 text-align:center;
 font-size: 18px;
}

.prep-nutrition-chart{
  font-size: 0px;
}
.nutrition-chart {
    margin-bottom: 50px;
}
.prep-nutrition-chart-div{
  display: inline-block;
  font-size: 20px;
}

.prep-nutrition-chart-block-protein{
  height:80px;
  width:100%;
  background-color:#0589d1;
}
.prep-nutrition-chart-label-protein{
  text-align: center;
  color:#0589d1;
}

.prep-nutrition-chart-block-carbs{
  height:80px;
  width:100%;
  background-color:#f16601;
}
.prep-nutrition-chart-label-carbs{
  text-align: center;
  color:#f16601;
}

.prep-nutrition-chart-block-fat{
  height:80px;
  width:100%;
  background-color:#b55002;
}
.prep-nutrition-chart-label-fat{
  text-align: center;
  color:#b55002;
}
