/* 
    Document   : prep
    Created on : 28/01/2015, 8:59:42 AM
    Author     : timo
    Description:
        Purpose of the stylesheet follows.
*/



/* Preparation specific */


#prep-view .instruction{
  padding-top: 20px;
}

@media (min-width: 768px) {
  #prep-view .instruction{
    padding-top: 40px;
  }
}

#prep-view .frames-above{
  /*padding-top: 200px;*/
}

#prep-view .frames-context-above-inner{
  padding:0 0 0;
}
#prep-view .video-view .container{
  padding-bottom:100px;
}
@media (min-width: 768px) {
  #prep-view .video-view .container{
    padding-bottom:320px;
  }
}

.prep-video {
 text-align:center;
 font-size: 12px;
 padding-top: 50px;
}

.prep-video p{
 font-size: 16px;
}

@media (min-width: 768px) {
  .prep-video {
    padding:50px 24px 0px;
    font-size: 14px;
  }
  .prep-video p{
   font-size: 20px;
   line-height: 26px;
  }
}



.prep-nutrition-chart{
  font-size: 0px;
  padding-top: 14px;
}
.nutrition-chart {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
  .prep-nutrition-chart{
    font-size: 0px;
    padding-top: 18px;
  }
  .nutrition-chart {
      margin-bottom: 40px;
  }
}

.prep-nutrition-chart-div{
  display: inline-block;
  font-size: 20px;
}

.prep-nutrition-chart-block-protein{
  height:60px;
  width:100%;
  background-color:#0589d1;
}
.prep-nutrition-chart-label-protein{
  text-align: center;
  color:#0589d1;
}

.prep-nutrition-chart-block-carbs{
  height:60px;
  width:100%;
  background-color:#f16601;
}
.prep-nutrition-chart-label-carbs{
  text-align: center;
  color:#f16601;
}

.prep-nutrition-chart-block-fat{
  height:60px;
  width:100%;
  background-color:#b55002;
}
.prep-nutrition-chart-label-fat{
  text-align: center;
  color:#b55002;
}
.prep-nutrition-definition{
  min-height:100px;
}

@media (min-width: 768px) {
  .prep-nutrition-chart-block-protein{
    height:80px;
  }
  .prep-nutrition-chart-block-carbs{
    height:80px;
  }
  .prep-nutrition-chart-block-fat{
    height:80px;
  }
  .prep-nutrition-definition{
    min-height:50px;
  }
}


