/* 
    Document   : tactics
    Created on : 28/01/2015, 8:59:16 AM
    Author     : timo
    Description:
        Purpose of the stylesheet follows.
*/

/* Tactics specific */

.tactics-video{
  display:block;
}

.tactic-svg-img{
}
.tactic-svg-txt{
}

.tactic-sam{
  color:#0488d0;
}

.tactic-jason{
  color:#b44f00;
}

.tactic-sam span {
    display: inline-block;
    height: 8px;
    width: 8px;
    line-height: 8px;

    -moz-border-radius: 4px; /* or 50% */
    border-radius: 4px; /* or 50% */

    background-color: #0488d0;
}

.tactic-jason span {
    display: inline-block;
    height: 8px;
    width: 8px;
    line-height: 8px;

    -moz-border-radius: 4px; /* or 50% */
    border-radius: 4px; /* or 50% */

    background-color: #b44f00;
}



.tactic-power-svg-img {
  margin-top: 10px;
}

.tactic-power-hotspots {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.tactic-power-hotspots .frame-link{
display: block;
position: absolute;
z-index: 100;
top: 0%;
height: 100%;
cursor: pointer;
}

.tactic-power-hotspots .frame-link.frame-link-0 {left: 15%; width: 6.5%;}
.tactic-power-hotspots .frame-link.frame-link-1 {left: 21.5%; width: 9%;}
.tactic-power-hotspots .frame-link.frame-link-2 {left: 30.5%; width: 14.5%;}
.tactic-power-hotspots .frame-link.frame-link-3 {left: 45%; width: 11%;}
.tactic-power-hotspots .frame-link.frame-link-4 {left: 56%; width: 5.5%;}
.tactic-power-hotspots .frame-link.frame-link-5 {left: 61.5%; width: 5.5%;}
.tactic-power-hotspots .frame-link.frame-link-6 {left: 67%; width: 5%;}
.tactic-power-hotspots .frame-link.frame-link-7 {left: 72%; width: 3.5%;}
.tactic-power-hotspots .frame-link.frame-link-8 {left: 75.5%; width: 3.5%;}
.tactic-power-hotspots .frame-link.frame-link-9 {left: 79%; width: 4%;}

