<div class="frames-wrapper">
  <div class="frames-context-above frames-context">
    <div class="frames-context-above-inner">
      <div class="container">
        <div class="row">     
          <div class="col-sm-8">         
            <h2 class="title">Training Diet</h2>
            <p class="content">
              Nutrition recommendations for the average cyclists. Don't we need to put a disclaimer here to have people ask their doctor?
            </p>
          </div>
        </div>
        <div class="row">     
          <div class="col-sm-12">          
            <ul class="frame-nav list-inline">
              <!--<li><a href="#prevframe" class="frame-prev">previous</a></li>-->  
              <li><a href="#frame0" data-target="0" class="frame-link frame-link-0">Breakfast</a></li>  
              <li><a href="#frame1" data-target="1" class="frame-link frame-link-1">Lunch</a></li>
              <li><a href="#frame2" data-target="2" class="frame-link frame-link-2">Dinner</a></li>  
              <li><a href="#frame3" data-target="3" class="frame-link frame-link-3">Training</a></li>  
              <!--<li><a href="#nextframe" class="frame-next">next</a></li>-->  
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
   
  <div class="frames">
    <div data-id="frame0" class="frame0 frame">
      <div class="container">
        <div class="row">
          <div class="col-xs-4 col-protein">        
            <p><img src="assets/img/protein-1.svg" class="img-responsive"  alt="" width="260" height="260"></p>
            <div class="advice-nutrition-chart-label-protein">Protein</div>       
            <div class="advice-nutrition-chart-label-protein"><h3>Egg or Milk</h3></div>      
          </div>
          <div class="col-xs-4 col-carbs">        
            <p><img src="assets/img/carbs-1.svg" class="img-responsive"  alt="" width="260" height="260"></p>
            <div class="advice-nutrition-chart-label-carbs">Carbohydrates</div>  
            <div class="advice-nutrition-chart-label-carbs"><h3>Oats or Muesli</h3></div>               
          </div>
          <div class="col-xs-4 col-fat">        
            <p><img src="assets/img/fat-1.svg" class="img-responsive"  alt="" width="260" height="260"></p>
            <div class="advice-nutrition-chart-label-fat">Fat</div>            
            <div class="advice-nutrition-chart-label-fat"><h3>Avocado</h3></div>   
          </div>
        </div>        
      </div>            
    </div>
    <div data-id="frame1" class="frame1 frame">      
      <div class="container">
        <div class="row">
          <div class="col-xs-4 col-protein">        
            <p><img src="assets/img/protein-2.svg" class="img-responsive"  alt="" width="260" height="260"></p>
            <div class="advice-nutrition-chart-label-protein">Protein</div>           
            <div class="advice-nutrition-chart-label-protein"><h3>Fish or Chicken</h3></div> 
          </div>
          <div class="col-xs-4 col-carbs">        
            <p><img src="assets/img/carbs-2.svg" class="img-responsive"  alt="" width="260" height="260"></p>
            <div class="advice-nutrition-chart-label-carbs">Carbohydrates</div>     
            <div class="advice-nutrition-chart-label-carbs"><h3>Quinoa or Wild rice</h3></div>      
          </div>
          <div class="col-xs-4 col-fat">        
            <p><img src="assets/img/fat-2.svg" class="img-responsive"  alt="" width="260" height="260"></p>
            <div class="advice-nutrition-chart-label-fat">Fat</div>         
            <div class="advice-nutrition-chart-label-fat"><h3>Mixed Nuts</h3></div>      
          </div>
        </div>        
      </div>            
    </div>
    <div data-id="frame2" class="frame2 frame">         
      <div class="container">
        <div class="row">
          <div class="col-xs-4 col-protein">        
            <p><img src="assets/img/protein-3.svg" class="img-responsive"  alt="" width="260" height="260"></p>
            <div class="advice-nutrition-chart-label-protein">Protein</div>   
            <div class="advice-nutrition-chart-label-protein"><h3>Meat or Chicken</h3></div>            
          </div>
          <div class="col-xs-4 col-carbs">        
            <p><img src="assets/img/carbs-3.svg" class="img-responsive"  alt="" width="260" height="260"></p>
            <div class="advice-nutrition-chart-label-carbs">Carbohydrates</div>     
            <div class="advice-nutrition-chart-label-carbs"><h3>Pasta or Kumara</h3></div>        
          </div>
          <div class="col-xs-4 col-fat">        
            <p><img src="assets/img/fat-3.svg" class="img-responsive"  alt="" width="260" height="260"></p>
            <div class="advice-nutrition-chart-label-fat">Fat</div>      
            <div class="advice-nutrition-chart-label-fat"><h3>Olive oil (on salad)</h3></div>         
          </div>
        </div>        
      </div>      
    </div>
    <div data-id="frame3" class="frame3 frame"> 
      <div class="container">
        <div class="row">
          <div class="col-xs-4 col-protein">        
            <p><img src="assets/img/protein-4.svg" class="img-responsive"  alt="" width="260" height="260"></p>
            <div class="advice-nutrition-chart-label-protein"><h3>500ml sports drink or carbohydrate gel</h3></div>          
          </div>
          <div class="col-xs-4 col-carbs">        
            <p><img src="assets/img/carbs-4.svg" class="img-responsive"  alt="" width="260" height="260"></p>
            <div class="advice-nutrition-chart-label-carbs"><h3>1 banana or dried fruits</h3></div>       
          </div>
          <div class="col-xs-4 col-fat">        
            <p><img src="assets/img/fat-4.svg" class="img-responsive"  alt="" width="260" height="260"></p>
            <div class="advice-nutrition-chart-label-fat"><h3>1 muesli bar or small handful of lollies</h3></div>                     
          </div>
        </div> 
        <div class="row">
          <div class="col-sm-8">        
            <p>Per hour of high intensity training</p>
          </div>
        </div>        
      </div>      
    </div>
  </div>
  
</div>

<div class="container">
  <div class="row">     
    <div class="col-sm-8">         
      <h2 class="title">Training programme</h2>
      <p class="content">
        Download 
      </p>
    </div>
  </div>
</div>
