<div class="frames-above">
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <h1 class="title">Advice for the enthusiast</h1>
      </div>
    </div>
  </div>         
</div>
<div class="frames-view"></div>
<div class="frames-below">
  <div class="container advice-training-programme-div">
    <div class="row">     
      <div class="col-sm-8">         
        <h2 class="title">Training programme</h2>
      </div>
    </div>
    <div class="row">     
      <div class="col-sm-6">         
        <p><img src="assets/img/gym-plan-teaser-single.svg" class="img-responsive advice-training-teaser-img"  alt=""></p>
      </div>
      <div class="col-sm-6 advice-training-txt">   
        <h3 class="content">
          Sprint cyclist's strength programme 
        </h3>
        <p class="content">
          Here’s what Sam puts in during a six-week gym cycle. (Remember to get professional advice for your own gym programme!)
        </p>
        <a class="btn" href="download/Sample-Sprint-Cyclists-Strength-Programme.pdf" target="blank">Download here</a>
      </div>
    </div>
  </div>         
</div>




