<div class="frames-wrapper">
  <div class="frames-context-above frames-context">
    <div class="frames-context-above-inner">
      <div class="container">
        <div class="row">     
          <div class="col-sm-8">         
            <h2 class="title">Training Diet</h2>
            <p class="content">
              Nutrition recommendations for the average cyclists. Don't we need to put a disclaimer here to have people ask their doctor?
            </p>
          </div>
        </div>
        <div class="row">     
          <div class="col-sm-12">          
            <ul class="frame-nav list-inline">
              <!--<li><a href="#prevframe" class="frame-prev">previous</a></li>-->  
              <li class="frame-link-separator"><a href="#frame0" data-target="0" class="frame-link frame-link-0">Breakfast</a></li>  
              <li class="frame-link-separator"><a href="#frame1" data-target="1" class="frame-link frame-link-1">Lunch</a></li>
              <li class="frame-link-separator"><a href="#frame2" data-target="2" class="frame-link frame-link-2">Dinner</a></li>  
              <li><a href="#frame3" data-target="3" class="frame-link frame-link-3">Training</a></li>  
              <!--<li><a href="#nextframe" class="frame-next">next</a></li>-->  
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
   
  <div class="frames">
    <div data-id="frame0" class="frame0 frame">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-protein">        
            <p><img src="http://placehold.it/260"></p>
            <p class="text-center">
              Egg or Milk
            </p>
            <p class="text-center">
              Protein
            </p>             
          </div>
          <div class="col-sm-4 col-carbs">        
            <p><img src="http://placehold.it/260"></p>
            <p class="text-center">
              Oats or Muesli
            </p>
            <p class="text-center">
              Carbohydrates
            </p>             
          </div>
          <div class="col-sm-4 col-fat">        
            <p><img src="http://placehold.it/260"></p>
            <p class="text-center">
              Avocado
            </p>
            <p class="text-center">
              Fat
            </p>             
          </div>
        </div>        
      </div>            
    </div>
    <div data-id="frame1" class="frame1 frame">      
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-protein">        
            <p><img src="http://placehold.it/260"></p>
            <p class="text-center">
              Fish or Chicken
            </p>
            <p class="text-center">
              Protein
            </p>             
          </div>
          <div class="col-sm-4 col-carbs">        
            <p><img src="http://placehold.it/260"></p>
            <p class="text-center">
              Quinoa or Wild rice
            </p>
            <p class="text-center">
              Carbohydrates
            </p>             
          </div>
          <div class="col-sm-4 col-fat">        
            <p><img src="http://placehold.it/260"></p>
            <p class="text-center">
              Mixed Nuts
            </p>
            <p class="text-center">
              Fat
            </p>             
          </div>
        </div>        
      </div>            
    </div>
    <div data-id="frame2" class="frame2 frame">         
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-protein">        
            <p><img src="http://placehold.it/260"></p>
            <p class="text-center">
              Meat or Chicken
            </p>
            <p class="text-center">
              Protein
            </p>             
          </div>
          <div class="col-sm-4 col-carbs">        
            <p><img src="http://placehold.it/260"></p>
            <p class="text-center">
              Pasta or Kumara
            </p>
            <p class="text-center">
              Carbohydrates
            </p>             
          </div>
          <div class="col-sm-4 col-fat">        
            <p><img src="http://placehold.it/260"></p>
            <p class="text-center">
              Olive oil (on salad)
            </p>
            <p class="text-center">
              Fat
            </p>             
          </div>
        </div>        
      </div>      
    </div>
    <div data-id="frame3" class="frame3 frame"> 
      <div class="container">
        <div class="row">
          <div class="col-sm-4">        
            <p><img src="http://placehold.it/260"></p>
            <p class="text-center">
              500ml sports drink or carbohydrate gel
            </p>           
          </div>
          <div class="col-sm-4">        
            <p><img src="http://placehold.it/260"></p>
            <p class="text-center">
              1 banana or dried frui
            </p>           
          </div>
          <div class="col-sm-4 col-fat">        
            <p><img src="http://placehold.it/260"></p>
            <p class="text-center">
              1 muesli bar or small handful of lollies
            </p>                     
          </div>
        </div> 
        <div class="row">
          <div class="col-sm-8">        
            Per hour of high intensity training
          </div>
        </div>        
      </div>      
    </div>
  </div>
  <div class="frames-context-below frames-context">
    <div class="frames-context-below-inner">
      <div class="container">
        <div class="row">     
          <div class="col-sm-8">         
            <h2 class="title">Training programme</h2>
            <p class="content">
              Download 
            </p>
          </div>
        </div>
      </div>      
    </div>
  </div>
</div>


