<div class="frames-above">
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <h1 class="title">Advice for the hobbyist</h1>
      </div>
    </div>
  </div>         
</div>
<div class="frames-view"></div>
<div class="frames-below">
  <div class="container">
    <div class="row">     
      <div class="col-sm-8">         
        <h2 class="title">Training programme</h2>
        <p class="content">
          Sprint cyclist's strength programme 
        </p>
      </div>
    </div>
    <div class="row">     
      <div class="col-sm-5">         
        <p><img src="assets/img/gym-plan-teaser-single.svg" class="img-responsive"  alt=""></p>
      </div>
      <div class="col-sm-7 advice-training-txt">         
        <p class="content">
          Here’s what Sam puts in during a six-week gym cycle. (Remember to get professional advice for your own gym programme!)
        </p>
        <p><img src="assets/img/Sample-Sprint-Cyclists-Strength-Programme.png" class="img-responsive" width="231" height="163" alt=""></p>
        <a class="btn" href="download/Sample-Sprint-Cyclists-Strength-Programme.pdf" target="blank">Download here</a>
      </div>
    </div>
  </div>         
</div>




