  <div class="main">
    <section data-id="start" id="intro-view" class="chapter fill-screen"></section>
    <section data-id="timeline" id="timeline-view" class="chapter"></section>
    <section data-id="tactics" id="tactics-view" class="chapter"></section> 
    <section data-id="prep" id="prep-view" class="chapter"></section>
    <section data-id="advice" id="advice-view" class="chapter"></section>
    <section data-id="win" id="win-view" class="chapter"></section>
  </div>

  <aside>
    <div class="logo"><span class="icon-HPSNZ-icon2"></span></div>
    <ul class="nav list-unstyled">
      <li id="nav-start" class="active"><a href="#">Start</a></li>
      <li id="nav-timeline" ><a href="#timeline">Timeline</a></li>
      <li id="nav-tactics" ><a href="#tactics">Tactics</a></li>
      <li id="nav-prep"><a  href="#prep">Team</a></li>    
      <li id="nav-advice" ><a href="#advice">Advice</a></li>    
      <li id="nav-win" ><a href="#win">Win a bike</a></li>        
    </ul>  

    <div class="share"><a class="toggle-share" href="#share">Share</a></div>

  </aside>
  <div class="share-buttons">
    <span class='st_facebook_large' displayText='Facebook'></span>
    <span class='st_twitter_large' displayText='Tweet'></span>
    <span class='st_linkedin_large' displayText='LinkedIn'></span>
    <span class='st_email_large' displayText='Email'></span>
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <p>“We lead the high performance sport system in New Zealand.”</br>
          Visit us on: <a href="http://www.hpsnz.org.nz" target="_blank" class="highlight">HPSNZ.org.nz</a> or <a href="https://www.bikenz.org.nz/" target="_blank" class="highlight">bikenz.org.nz</a></p>
          <p class="dmprk-credit"><a href="http://www.dumpark.com" target="_blank">Interactive by dumpark</a> </p>
        </div>
        <div class="col-sm-5">
          <a href="http://www.hpsnz.org.nz"  target="_blank"><span class="icon-HPSNZ-icon1"></span></a>
          <a href="https://www.bikenz.org.nz/"  target="_blank"><img src="assets/img/CyclingNZ-logo.png" class="cyclingNZ-img img-responsive" alt="" width="100" height="100"></img></a>
        </div>
      </div>
    </div>
  </footer>

