<div class="main">
  <section data-id="start" id="intro-view" class="chapter fill-screen"></section>
  <section data-id="timeline" id="timeline-view" class="chapter fill-screen"></section>
  <section data-id="tactics" id="tactics-view" class="chapter fill-screen"></section>
  <section data-id="prep" id="prep-view" class="chapter"></section>
</div>

<div class="next-chapter"><a href="#nextchapter">Next</a></div>

<aside>
  <div class="logo">logo</div>
  <ul class="nav list-unstyled">
    <li><a href="#start">Start</a></li>
    <li><a href="#timeline">Timeline</a></li>
    <li><a href="#tactics">Tactics</a></li>
    <li><a href="#prep">Preparation</a></li>    
  </ul>  
  <div class="win">Win</div>
  <div class="share">Share</div>
  
</aside>

