<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h1 class="title">Sam Webster</h1>
      <h2 class="title">mind and body</h2>
      <p class="lead strong hidden-xs">
        Two golds at the 2014 Glasgow games form the latest peak in the champion sprint cyclist’s meteoric career. We look at how Sam won the individual sprint, and talk with the specialists who supported him.
      </p>
    </div>
  </div>
</div>
<div class="container intro-footer">
  <div class="row">
    <div class="col-sm-6">
      <p class="stat hidden-xs">
        Sam is nominated as Sportsman of the Year and as part of the Team of the Year at the 52nd <a class="link-page" href="http://www.halbergawards.co.nz/ " target="blank">Halberg Awards</a>, proudly sponsored by High Performance Sport New Zealand.
      </p>
      <span class="icon-HPSNZ-icon1"></span>
      <img src="assets/img/CyclingNZ-logo.png" class="cyclingNZ-img img-responsive" alt="" width="100" height="100"></img>
    </div>
  </div>
</div>
<div class="next-chapter hidden-xs">
  <a href="#nextchapter">
    <div class="next-chapter-upper">Scroll down</div>
    <div class="next-chapter-lower">for the full story</div>
    <div class="icon-arrow-down"></div>
  </a>
</div>



