<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h1 class="title">Sam Webster</h1>
      <p class="lead strong">
        Winner of 2 gold medals at the 2014 Glasgow Commonwealth Games
      </p>
      <p class="stat">
        1st Team Sprint
      </p>
      <span class="icon-cyclist-2"></span>
      <span class="icon-cyclist-2"></span>
      <span class="icon-cyclist-2"></span>

      <p class="stat">
        1st Individual Sprint
      </p>  
      <span class="icon-cyclist-1"></span>

    </div>
  </div>
</div>
<div class="next-chapter">
  <a href="#nextchapter">
    <div class="next-chapter-upper">Scroll down</div>
    <div class="next-chapter-lower">for the whole story</div>
    <div class="icon-arrow-down"></div>
  </a>
</div>



