<div class="frames-wrapper">
  <div class="frames-context-above frames-context">
    <div class="frames-context-above-inner">
      <div class="container">
        <div class="row">     
          <div class="col-sm-8">           
            <h2 class="title">Sam's Nutrition</h2>
            <p class="content">
              Select training phase
            </p>
          </div>
        </div>
        <div class="row">     
          <div class="col-sm-12">          
            <ul class="frame-nav list-inline">
              <!--<li><a href="#prevframe" class="frame-prev">previous</a></li>-->  
              <li class="frame-link-separator"><a href="#frame0" data-target="0" class="frame-link frame-link-0">Aerobic Fitness</a></li>  
              <li class="frame-link-separator"><a href="#frame1" data-target="1" class="frame-link frame-link-1">High Intensity</a></li>
              <li><a href="#frame2" data-target="2" class="frame-link frame-link-2">Taper</a></li>  
<!--              <li><a href="#nextframe" class="frame-next">next</a></li>  -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
   
  <div class="frames">
    <div data-id="frame0" class="frame0 frame">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">       
            <div class="nutrition-chart"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">       
            <p class="content">
              About Aerobic Fitness
            </p>
          </div>
        </div>        
      </div>
    </div>
    <div data-id="frame1" class="frame1 frame">  
      <div class="container">      
        <div class="row">
          <div class="col-sm-12">       
            <div class="nutrition-chart"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">       
            <p class="content">
              About High Intensity
            </p>
          </div>
        </div>        
      </div>
    </div>
    <div data-id="frame2" class="frame2 frame"> 
      <div class="container">      
        <div class="row">
          <div class="col-sm-12">       
            <div class="nutrition-chart"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">       
            <p class="content">
              About Taper
            </p>
          </div>
        </div>        
      </div>      
    </div> 
  </div> <!-- .frames -->
</div>
