<h1 class="title">Preparation</h1>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 prep-video"> 
      <div class="video-container">
        <div id="prep-player-1"></div>
      </div>
      <h2>Sam</h2>
      <p> Here some description contente or a quote from the video </p>
    </div>
    <div class="col-sm-6 prep-video">  
      <div class="video-container">
        <div id="prep-player-2"></div>
      </div>
      <h2>Strength & Conditioning</h2>
      <p> Here some description contente or a quote from the video </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 prep-video"> 
      <div class="video-container">
        <div id="prep-player-3"></div>
      </div>
      <h2>Psychology</h2>
      <p> Here some description contente or a quote from the video </p>
    </div>
    <div class="col-sm-6 prep-video">  
      <div class="video-container">
        <div id="prep-player-4"></div>
      </div>
      <h2>Nutrition</h2>
      <p> Here some description contente or a quote from the video </p>
    </div>
  </div>
</div>

<!--
<div class="video-container">
    <iframe width="560" height="315" src="//www.youtube.com/embed/GWCQFTgl5js?modestbranding=1&controls=0" frameborder="0" allowfullscreen></iframe>
</div>
-->
<div class="frames-view"></div>



