

<div class="prep-nutrition-chart">

  <div class="prep-nutrition-chart-div" style="width:<%= protein %>%">
    <div class="prep-nutrition-chart-block-protein"></div>
    <div class="prep-nutrition-chart-label-protein">Protein</div>
    <div class="prep-nutrition-chart-label-protein"><%= protein %>%</div> 
  </div>
  
  <div class="prep-nutrition-chart-div" style="width:<%= carbs %>%"> 
    <div class="prep-nutrition-chart-block-carbs"></div>
    <div class="prep-nutrition-chart-label-carbs">Carbohydrate</div>
    <div class="prep-nutrition-chart-label-carbs"><%= carbs %>%</div> 
  </div>
  
  <div class="prep-nutrition-chart-div" style="width:<%= fat %>%">
    <div class="prep-nutrition-chart-block-fat"></div>
    <div class="prep-nutrition-chart-label-fat">Fat</div>
    <div class="prep-nutrition-chart-label-fat"><%= fat %>%</div> 
  </div>
  
</div>


