<div class="container">
  <div class="row">
    <div class="col-sm-6 "> 
      <div class="prep-video"> 
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
          <div id="prep-player-1"></div>
        </div>
        <h3>Sam Webster</h3>
        <p>“Your body is your machine.” Tips for all cyclists.</p>
      </div>
    </div>
    <div class="col-sm-6 "> 
      <div class="prep-video"> 
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
          <div id="prep-player-2"></div>
        </div>
        <h3>Strength & Conditioning</h3>
        <p>“Power and force on the track, posture and position on the road.”</p>
        Andrew Keene, strength and conditioner, HPSNZ
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 "> 
      <div class="prep-video"> 
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
          <div id="prep-player-3"></div>
        </div>
        <h3>Psychology</h3>
        <p>“Manage the uncertainties and control what we can control.”</p>
        Jason Yuill Proctor, psychologist, HPSNZ
      </div>    
    </div>
    <div class="col-sm-6 "> 
      <div class="prep-video"> 
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
          <div id="prep-player-4"></div>
        </div>
        <h3>Nutrition</h3>
        <p>“Fuel right, and eat to grow and adapt. Never forget the carbs.”</p>
        Alex Popple, performance nutritionist, HPSNZ
      </div>        
    </div>
  </div>
</div>


