

<div class="prep-nutrition-chart">

  <div class="prep-nutrition-chart-div" style="width:<%= protein %>%">
    <div class="prep-nutrition-chart-block-protein"></div>
    <div class="prep-nutrition-chart-label-protein"><h3><%= protein %>%</h3></div> 
    <div class="prep-nutrition-chart-label-protein">Protein</div>
  </div>
  
  <div class="prep-nutrition-chart-div" style="width:<%= carbs %>%"> 
    <div class="prep-nutrition-chart-block-carbs"></div>
    <div class="prep-nutrition-chart-label-carbs"><h3><%= carbs %>%</h3></div> 
    <div class="prep-nutrition-chart-label-carbs">Carbohydrate</div>
  </div>
  
  <div class="prep-nutrition-chart-div" style="width:<%= fat %>%">
    <div class="prep-nutrition-chart-block-fat"></div>
    <div class="prep-nutrition-chart-label-fat"><h3><%= fat %>%</h3></div> 
    <div class="prep-nutrition-chart-label-fat">Fat</div>
  </div>
  
</div>


