<div class="container">
  <div class="row">
    <div class="col-sm-6 "> 
      <div class="prep-video"> 
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
          <div id="prep-player-1"></div>
        </div>
        <h3>Sam</h3>
        <p> Here some description content or a quote from the video </p>
      </div>
    </div>
    <div class="col-sm-6 "> 
      <div class="prep-video"> 
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
          <div id="prep-player-2"></div>
        </div>
        <h3>Strength & Conditioning</h3>
        <p> Here some description content or a quote from the video </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 "> 
      <div class="prep-video"> 
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
          <div id="prep-player-3"></div>
        </div>
        <h3>Psychology</h3>
        <p> Here some description content or a quote from the video </p>
      </div>    
    </div>
    <div class="col-sm-6 "> 
      <div class="prep-video"> 
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
          <div id="prep-player-4"></div>
        </div>
        <h3>Nutrition</h3>
        <p> Here some description content or a quote from the video </p>
      </div>        
    </div>
  </div>
</div>


