<div class="tactics-video">
  <!-- 16:9 aspect ratio -->
  <div class="embed-responsive embed-responsive-16by9">
    <div id="tactics-player-1"></div>
  </div>
</div>
<div class="frames-view"></div>
<div class="container">      
  <div class="row">
    <div class="col-sm-8"> 
      <h2 class="title">Tracks overview</h2>
      <p class="content">
        Some summary information here
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4"> 
      <div class="tactics-svg-container">
        <img class="tactic-svg-img-overview" src="assets/img/tactics-lap1.svg" alt="" width="260" height="171">
        <div class="tactics-svg-txt">Lap 1</div>
      </div>
    </div>
    <div class="col-sm-4">   
      <div class="tactics-svg-container">
        <img class="tactic-svg-img-overview" src="assets/img/tactics-lap2.svg" alt="" width="260" height="171">
        <div class="tactics-svg-txt">Lap 2</div>
      </div>
    </div>
    <div class="col-sm-4">         
      <div class="tactics-svg-container">
        <img class="tactic-svg-img-overview" src="assets/img/tactics-lap3.svg" alt="" width="260" height="171">
        <div class="tactics-svg-txt">Lap 3</div>
      </div>
    </div>
  </div>            
</div>