<div class="frames-wrapper">
  <div class="frames">
    <div data-id="frame0" class="frame0 frame"></div>
    <div data-id="frame1" class="frame1 frame"></div>
    <div data-id="frame2" class="frame2 frame"></div>
    <div data-id="frame3" class="frame3 frame"></div>
    <div data-id="frame4" class="frame4 frame"></div>
    <div data-id="frame5" class="frame5 frame"></div>
    <div data-id="frame6" class="frame6 frame"></div>
    <div data-id="frame7" class="frame7 frame"></div>
    <div data-id="frame8" class="frame8 frame"></div>
    <div data-id="frame9" class="frame9 frame"></div>
  </div>
  <div class="frames-context-below frames-context">
    <div class="frames-context-below-inner">  
      <div class="container">      
        <div class="row tactic-laps-overview-head">
          <div class="col-sm-12"> 
            <h3 class="title">The Laps</h3>
            <p class="content">
              Any summary information here if required
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4"> 
            <div class="tactic-overview-container">
              <img class="tactic-svg-img-overview img-responsive" src="assets/img/tactics-lap1.svg" alt="" width="260" height="171">
              <div class="tactic-dashboard"> 
                <h5>0'53"</h5>
                <p>Total Lap</p>
                <h5>17 km/h</h5>
                <p>Average Speed</p>
                <h5>45 Watt</h5>
                <p>Average Power</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">   
            <div class="tactic-overview-container">
              <img class="tactic-svg-img-overview img-responsive" src="assets/img/tactics-lap2.svg" alt="" width="260" height="171">
              <div class="tactic-dashboard"> 
                <h5>0'25"</h5>
                <p>Total Lap</p>
                <h5>36 km/h</h5>
                <p>Average Speed</p>
                <h5>688 Watt</h5>
                <p>Average Power</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">         
            <div class="tactic-overview-container">
              <img class="tactic-svg-img-overview img-responsive" src="assets/img/tactics-lap3.svg" alt="" width="260" height="171">
              <div class="tactic-dashboard"> 
                <h5>0'13"</h5>
                <p>Total Lap</p>
                <h5>69 km/h</h5>
                <p>Average Speed</p>
                <h5>1684 Watt</h5>
                <p>Average Power</p>
              </div>
            </div>
          </div>
        </div>            
      </div>
    </div>
  </div>
</div>
