<div class="container">
  <div class="row">
    <div class="col-lg-3 tactic-txt"> 
        <h5>
          <%= data.title[index] %>                      
        </h5>
        <p>
          <%= data.narrative[index] %>                    
        </p>
    </div>
    <div class="col-lg-6"> 
      <img class="tactic-svg-img img-responsive" src="assets/img/tactics-<%= index %>.svg" alt="">
    </div>
    <div class="col-lg-3 tactic-dashboard"> 
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-lg-12"> 
          <h5> <%= data.speed[index] %> km/h</h5>
          <p> Average speed</p>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-12"> 
          <h5> <%= data.power[index] %> Watt</h5>
          <p> Average power</p>
        </div>
      </div>
      <div class="tactic-lgnd">
        <div class="tactic-sam"> <span></span> Sam Webster </div>
        <div class="tactic-jason"> <span></span> Jason Kenny </div>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-lg-offset-1 col-lg-10 ">
        <div class="tactic-power-svg-container">
          <img class="tactic-power-svg-img img-responsive hidden-xs" src="assets/img/power-<%= index %>.svg" alt="" usemap="#tactic-power-img-map">
          <div class="tactic-power-hotspots hidden-xs">
            <div data-target="0" class="frame-link frame-link-0"></div>
            <div data-target="1" class="frame-link frame-link-1"></div>
            <div data-target="2" class="frame-link frame-link-2"></div>
            <div data-target="3" class="frame-link frame-link-3"></div>
            <div data-target="4" class="frame-link frame-link-4"></div>
            <div data-target="5" class="frame-link frame-link-5"></div>
            <div data-target="6" class="frame-link frame-link-6"></div>
            <div data-target="7" class="frame-link frame-link-7"></div>
            <div data-target="8" class="frame-link frame-link-8"></div>
            <div data-target="9" class="frame-link frame-link-9"></div>
          </div>

        </div>
    </div>    
  </div>
</div>
    