<div class="frames-above">
  <div class="tactics-video container">
  <!--   16:9 aspect ratio -->
    <div class="embed-responsive embed-responsive-16by9">
      <div id="tactics-player-1"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6"> 
        <h1 class="title">Tactics</h1>
        <p class="content">
          The final between Sam Webster and Jason Kenny at the Commonwealth Games 2014 in Glasgow
        </p>
      </div>
    </div>
  </div>   
</div>
<div class="frames-view"></div>