<div class="container">
  <div class="row">
    <div class="col-sm-3"> 
    <h2><%= title %></h2>
    <p> Average speed in section </p>
    <p> <%= speed %> km/h</p>
    <p> Average power in section </p>
    <p> <%= power %> Watt</p>
    </div>
    <div class="col-sm-6"> 
      <div class="tactics-svg-container">
        <img class="tactic-svg-img" src="assets/img/tactics-<%= index %>.svg" alt="">
        <div class="tactics-svg-txt"><%= narrative %></div>
      </div>
    </div>
    <div class="col-sm-3"> 
    <p> Sam Webster </p>
    <p> Jason Kenny </p>
    </div>
  </div>
</div>
    