<div class="container">
  <div class="row">
    <div class="col-sm-3"> 
    <h2><%= data.lap[index] %></h2>
    <p> Average speed in section </p>
    <h3> <%= data.speed[index] %> km/h</h3>
    <p> Average power in section </p>
    <h3> <%= data.power[index] %> Watt</h3>
    </div>
    <div class="col-sm-6"> 
      <div class="tactic-svg-container">
        <img class="tactic-svg-img img-responsive" src="assets/img/tactics-<%= index %>.svg" alt="" width="420" height="277">
        <div class="tactic-svg-txt">
          <h5>
            <%= data.title[index] %>                      
          </h5>
          <p>
            <%= data.narrative[index] %>                    
          </p>
        </div>

      </div>
    </div>
    <div class="col-sm-3"> 
    <p class="tactic-sam"> <span></span> Sam Webster </p>
    <p class="tactic-jason"> <span></span> Jason Kenny </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="tactic-power-svg-container">
          <img class="tactic-power-svg-img img-responsive" src="assets/img/power-<%= index %>.svg" alt="" width="740" height="185" usemap="#tactic-power-img-map">
          <div class="tactic-power-hotspots">
            <div data-target="0" class="frame-link frame-link-0"></div>
            <div data-target="1" class="frame-link frame-link-1"></div>
            <div data-target="2" class="frame-link frame-link-2"></div>
            <div data-target="3" class="frame-link frame-link-3"></div>
            <div data-target="4" class="frame-link frame-link-4"></div>
            <div data-target="5" class="frame-link frame-link-5"></div>
            <div data-target="6" class="frame-link frame-link-6"></div>
            <div data-target="7" class="frame-link frame-link-7"></div>
            <div data-target="8" class="frame-link frame-link-8"></div>
            <div data-target="9" class="frame-link frame-link-9"></div>
          </div>

        </div>
    </div>    
  </div>
</div>
    