
<div class="frames">
  <div data-id="frame0" class="frame0 frame fill-screen">
    <h1 class="title">Tactics</h1>
    <p class="content">
      tactics text
    </p>
  </div>
  <div data-id="frame1" class="frame1 frame fill-screen">
    <h1 class="title">Tactics</h1>
    <p class="content">
      tactics text
    </p>    
  </div>
  <div data-id="frame2" class="frame2 frame fill-screen">
    <h1 class="title">Tactics</h1>
    <p class="content">
      tactics text
    </p>    
  </div>
</div>
<ul class="frame-nav list-inline">
  <li><a href="#frame0" data-target="0" class="">frame0</a></li>  
  <li><a href="#frame1" data-target="1" class="">frame1</a></li>
  <li><a href="#frame2" data-target="2" class="">frame2</a></li>  
</ul>