<div class="frames-wrapper">
  <div class="frames-context-above frames-context">
    <div class="frames-context-above-inner">
      <div class="container">
        <div class="row">
          <div class="col-sm-8"> 
            <h1 class="title">Tactics</h1>
            <p class="content">
              The final between Sam Webster and Jason Kenny at the Commonwealth Games 2014 in Glascow
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="frames">
    <div data-id="frame0" class="frame0 frame"></div>
    <div data-id="frame1" class="frame1 frame"></div>
    <div data-id="frame2" class="frame2 frame"></div>
    <div data-id="frame3" class="frame3 frame"></div>
    <div data-id="frame4" class="frame4 frame"></div>
    <div data-id="frame5" class="frame5 frame"></div>
    <div data-id="frame6" class="frame6 frame"></div>
    <div data-id="frame7" class="frame7 frame"></div>
    <div data-id="frame8" class="frame8 frame"></div>
    <div data-id="frame9" class="frame9 frame"></div>
  </div>
  
  
</div>
