<div class="frames-wrapper">

  <div class="frames-context-above frames-context">
    <div class="frames-context-above-inner">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <h1 class="title">Timeline</h1>
            <p class="content">
              Sam Webster was born in Auckland on <strong>16 July 1991</strong>. His professional cycling career started in 20XX.
            </p>
          </div>
        </div>
        <div class="row">     
          <div class="col-sm-12">           
          <h3 class="title">Highlights of Sam's Career</h3>
          <ul class="frame-nav list-inline">
            <li><a href="#frame0" data-target="0" class="frame-link frame-link-0">2009</a></li>  
            <li><a href="#frame1" data-target="1" class="frame-link frame-link-1">2010</a></li>
            <li><a href="#frame2" data-target="2" class="frame-link frame-link-2">2012</a></li> 
            <li><a href="#frame3" data-target="3" class="frame-link frame-link-3">2013</a></li> 
            <li><a href="#frame4" data-target="4" class="frame-link frame-link-4">2014</a></li>         
          </ul> 
        </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="frames">
  
    <div data-id="frame0" class="frame0 frame">
      <div class="container">
        <div class="row">
          <div class="col-sm-6"> 
            <h4>World Junior Championships 2009, Moscow</h4>
            <ul class="list-group">
              <li class="list-group-item">1st Team Sprint</li>
              <li class="list-group-item">1st Keirin</li>
              <li class="list-group-item">1st Individual Sprint</li>
            </ul>               
          </div>
          <div class="col-sm-6">             
            <p><img class="img-responsive" src="assets/img/timeline_2009.jpg"></p>
          </div>
        </div>
      </div>
    </div>
    
    <div data-id="frame1" class="frame1 frame">  
      <div class="container">
        <div class="row">
          <div class="col-sm-6"> 
            <h4>Commonwealth Games 2010, Delhi</h4>
            <ul class="list-group">
              <li class="list-group-item">2nd Team Sprint</li>
              <li class="list-group-item">3rd Individual Sprint</li>
            </ul>               
          </div>
          <div class="col-sm-6">             
            <p><img class="img-responsive" src="assets/img/timeline_2010.jpg"></p>
          </div>
        </div>
      </div>
    </div>
    
    <div data-id="frame2" class="frame2 frame"> 
      <div class="container">
        <div class="row">
          <div class="col-sm-6"> 
            <h4>World Championship 2012, Melbourne </h4>
            <ul class="list-group">
              <li class="list-group-item">3rd Team Sprint</li>              
            </ul>               
          </div>
          <div class="col-sm-6">             
            <p><img class="img-responsive" src="assets/img/timeline_2012.jpg"></p>
          </div>
        </div>
      </div>
    </div>
    
    <div data-id="frame3" class="frame3 frame"> 
      <div class="container">
        <div class="row">
          <div class="col-sm-6"> 
            <h4>World Championship 2013, Minsk</h4>
            <ul class="list-group">
              <li class="list-group-item">2nd Team Sprint</li>              
            </ul>               
            <h4>World Cup, Mexico</h4>
            <ul class="list-group">
              <li class="list-group-item">1st Team Sprint</li>              
            </ul>                           
          </div>
          <div class="col-sm-6">             
            <p><img class="img-responsive" src="assets/img/timeline_2013.jpg"></p>
          </div>
        </div>
      </div>
    </div>
    
    <div data-id="frame4" class="frame4 frame"> 
      <div class="container">
        <div class="row">
          <div class="col-sm-6"> 
            <h4>World Championships, Cali</h4>
            <ul class="list-group">
              <li class="list-group-item">1st Team Sprint</li>
            </ul>               
            <h4>Commonwealth Games 2014, Glasgow</h4>
            <ul class="list-group">
              <li class="list-group-item">1st Team Sprint</li>
              <li class="list-group-item">2nd Keirin</li>
              <li class="list-group-item">1st Individual Sprint</li>
            </ul>               
          </div>
          <div class="col-sm-6">             
            <p><img class="img-responsive" src="assets/img/timeline_2014.jpg"></p>
          </div>
        </div>
      </div>
    </div>
    
  </div>
    
  
</div>
