<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h1 class="title">Timeline</h1>
      <p class="content">
        The 2004 Tour de France almost inspired 13-year-old Sam Webster into a road racing career. But the call of the velodrome track was too strong, and by 2007 he’d won four under-17 national sprint titles and held two national records. Now, three world titles later, Sam’s aiming for double Olympic gold.
      </p>
    </div>
  </div>
</div>
<div class="frames-view"></div>