<div class="frames-wrapper" >

  <div class="frames-context-above frames-context">
    <div class="frames-context-above-inner">
      <div class="container">
        <div class="row">     
          <div class="col-sm-12">           
          <h2 class="title">Career highlights</h2>
          <p class="instruction pull-left">Select a year or keep on scrolling</p>
          <div class="timeline-legend pull-right"> <span class="small-medal gold"></span> 1st
                              <span class="small-medal silver"></span> 2nd
                              <span class="small-medal bronze"></span> 3rd
          </div>

          <ul class="frame-nav list-inline timeline-list clearfix">
            <li>
              <a href="#frame0" data-target="0" class="frame-link frame-link-0">
              <div class="timeline-date">2009</div>
              <div class="timeline-date-medals">
                <span class="large-medal gold"></span>
                <span class="large-medal gold"></span>
                <span class="large-medal gold"></span></div>
              </a>
            </li>  
            <li>
              <a href="#frame1" data-target="1" class="frame-link frame-link-1">
              <div class="timeline-date">2010</div>
              <div class="timeline-date-medals">
                <span class="large-medal silver"></span>
                <span class="large-medal bronze"></span>
              </div>
              </a>
            </li>
            <li>
              <a href="#frame2" data-target="2" class="frame-link frame-link-2">
                <div class="timeline-date">2012</div>
                <div class="timeline-date-medals">
                  <span class="large-medal bronze"></span>
                </div>
              </a>
            </li> 
            <li>
              <a href="#frame3" data-target="3" class="frame-link frame-link-3">
                <div class="timeline-date">2013</div>
                <div class="timeline-date-medals">
                  <span class="large-medal gold"></span>
                  <span class="large-medal silver"></span>
                </div>
              </a>
            </li> 
            <li>
              <a href="#frame4" data-target="4" class="frame-link frame-link-4">
                <div class="timeline-date">2014</div>
                <div class="timeline-date-medals">
                  <span class="large-medal gold"></span>
                  <span class="large-medal gold"></span>
                  <span class="large-medal gold"></span>
                  <span class="large-medal silver"></span>
                </div>
              </a>
            </li>         
          </ul>
          
          
        </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="frames">
  
    <div data-id="frame0" class="frame0 frame">
      <div class="container">
        <div class="row">
          <div class="col-sm-6"> 
            <h4>World Junior Championships 2009, Moscow</h4>
            <ul class="list-group">
              <li class="list-group-item"><span class="large-medal gold"></span> Team Sprint 
                <div class="timeline-race-type"> 
                  <span class="icon-cyclist-2"></span>
                  <span class="icon-cyclist-2"></span> 
                  <span class="icon-cyclist-2"></span> 
                </div>
              </li>
              <li class="list-group-item"><span class="large-medal gold"></span>  Keirin
                <div class="timeline-race-type"> 
                  <span class="icon-cyclist-1"></span>
                </div>
              </li>
              <li class="list-group-item"><span class="large-medal gold"></span>  Individual Sprint
                <div class="timeline-race-type"> 
                  <span class="icon-cyclist-1"></span> 
                </div>
              </li>
            </ul>               
          </div>
          <div class="col-sm-6">             
            <p><img class="img-responsive hidden-xs" src="assets/img/timeline_2009.jpg"></p>
          </div>
        </div>
      </div>
    </div>
    
    <div data-id="frame1" class="frame1 frame">  
      <div class="container">
        <div class="row">
          <div class="col-sm-6"> 
            <h4>Commonwealth Games 2010, Delhi</h4>
            <ul class="list-group">
              <li class="list-group-item"><span class="large-medal silver"></span>  Team Sprint
                <div class="timeline-race-type"> 
                  <span class="icon-cyclist-2"></span>
                  <span class="icon-cyclist-2"></span> 
                  <span class="icon-cyclist-2"></span> 
                </div>
              </li>
              <li class="list-group-item"><span class="large-medal bronze"></span>  Individual Sprint
                <div class="timeline-race-type"> 
                  <span class="icon-cyclist-1"></span> 
                </div>
              </li>
            </ul>               
          </div>
          <div class="col-sm-6">             
            <p><img class="img-responsive hidden-xs" src="assets/img/timeline_2010.jpg"></p>
          </div>
        </div>
      </div>
    </div>
    
    <div data-id="frame2" class="frame2 frame">         
      <div class="container">
        <div class="row">
          <div class="col-sm-6"> 
            <h4>World Championship 2012, Melbourne </h4>
            <ul class="list-group">
              <li class="list-group-item"><span class="large-medal bronze"></span> Team Sprint
                <div class="timeline-race-type"> 
                  <span class="icon-cyclist-2"></span>
                  <span class="icon-cyclist-2"></span> 
                  <span class="icon-cyclist-2"></span> 
                </div>
              </li>             
            </ul>               
          </div>
          <div class="col-sm-6">             
            <p><img class="img-responsive hidden-xs" src="assets/img/timeline_2012.jpg"></p>
          </div>
        </div>
      </div>
    </div>
    
    <div data-id="frame3" class="frame3 frame">         

      <div class="container">
        <div class="row">
          <div class="col-sm-6"> 
            <h4>World Championship 2013, Minsk</h4>
            <ul class="list-group timeline-event-separator">
              <li class="list-group-item"><span class="large-medal silver"></span> Team Sprint
                <div class="timeline-race-type"> 
                  <span class="icon-cyclist-2"></span>
                  <span class="icon-cyclist-2"></span> 
                  <span class="icon-cyclist-2"></span> 
                </div>
              </li>             
            </ul>               
            <h4>World Cup, Mexico</h4>
            <ul class="list-group">
              <li class="list-group-item"><span class="large-medal gold"></span> Team Sprint
                <div class="timeline-race-type"> 
                  <span class="icon-cyclist-2"></span>
                  <span class="icon-cyclist-2"></span> 
                  <span class="icon-cyclist-2"></span> 
                </div>
              </li>             
            </ul>                           
          </div>
          <div class="col-sm-6">             
            <p><img class="img-responsive hidden-xs" src="assets/img/timeline_2013.jpg"></p>
          </div>
        </div>
      </div>
    </div>
    
    <div data-id="frame4" class="frame4 frame">         
         
      <div class="container">
        <div class="row">
          <div class="col-sm-6"> 
            <h4>World Championships 2014, Cali</h4>
            <ul class="list-group timeline-event-separator">
              <li class="list-group-item"><span class="large-medal gold"></span> Team Sprint
                <div class="timeline-race-type"> 
                  <span class="icon-cyclist-2"></span>
                  <span class="icon-cyclist-2"></span> 
                  <span class="icon-cyclist-2"></span> 
                </div>
              </li>
            </ul>               
            <h4>Commonwealth Games 2014, Glasgow</h4>
            <ul class="list-group">
              <li class="list-group-item"><span class="large-medal gold"></span> Team Sprint
                <div class="timeline-race-type"> 
                  <span class="icon-cyclist-2"></span>
                  <span class="icon-cyclist-2"></span> 
                  <span class="icon-cyclist-2"></span> 
                </div>
              </li>
              <li class="list-group-item"><span class="large-medal silver"></span> Keirin
                <div class="timeline-race-type"> 
                  <span class="icon-cyclist-1"></span> 
                </div>
              </li>
              <li class="list-group-item"><span class="large-medal gold"></span> Individual Sprint
                <div class="timeline-race-type"> 
                  <span class="icon-cyclist-1"></span> 
                </div>
              </li>
            </ul>               
          </div>
          <div class="col-sm-6">             
            <p><img class="img-responsive hidden-xs" src="assets/img/timeline_2014.jpg"></p>
          </div>
        </div>
      </div>
    </div>
    
  </div>
    
  
</div>
