<div class="container">
  <div class="row">
    <div class="col-sm-10">
      <h1 class="title">Win an avanti race bike</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5 win-bike-imgbox">
      <img class="img-responsive" src="assets/img/Avanti-Bike.png" alt="" width="420" height="300">
    </div>
    <div class="col-sm-7">
      <p class="content">
        HPSNZ has teamed up with Avanti to offer a fantastic Corsa SL2 to one lucky person who likes our Sam Webster Facebook post. The Corsa SL2 uses the same frame technology as national road champions, the Avanti Racing Team.
      </p>
      <p class="content win-bike-subtxt">Click on the button below to go to the HPSNZ Facebook page, like our Sam Webster competition post, and you’ll be in the draw. (See our <a class="link-page" href="http://hpsnz.org.nz/samTC" target="blank">terms and conditions</a>).<p>
      <a class="btn" href="https://www.facebook.com/hpsnz" target="blank">Facebook</a>
    </div>
  </div>
</div>
